<div class="row mb-4 post">
  <div class="post-section-body">
  {{!-- <div class="col-md-5"> --}}
    <h2> {{post.title}} </h2>
  {{!-- </div> --}}
    <div class="col-md-7">
      <div class="time-post">
      {{format_time post.createdAt}}<br>
        <div class="time-body">
          {{post.body}}
        </div>
      </div>
      <br>
      <button class="post-deleter" id={{post.id}}>
        Click here to delete this post
      </button>
    </div>
  </div>

    {{#each post.Comments as |comment| }}
  <div class="posted-comments">{{comment.body}}</div>
  {{/each}}

  <div id="comment-body">
    <div class="comments">
      <label for="comment-title">Add comments here!</label>
      <input class="comment-input" />
      <div class="comment">
        <button class="btn btn-primary" id="confirm-comment" type="submit">Comment!</button>
      </div>
    </div>
  </div>

</div>



<input type="hidden" value={{post.id}} id="post_id" />


{{!-- <script src="./js/post.js"></script> --}}
{{!-- <script src="../js/comment.js"></script> --}}
