{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    {{format_time post.createdAt}}
    <p>
      {{post.body}}
      <br>
      {{!-- <button class="post-commenter">Comment</button> --}}
      {{!-- <a class="post-deleter" href="/post/{{post.id}}">Delete</a> --}}
    </p>
  </div>
</div>
{{/each}}